DEBUG=True
SECRET_KEY=changeme-in-production-use-django-secret-key-generator
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sodigaz_poc
DB_USER=sodigaz
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5433
